:root{
  /* max-width: 1000px; */
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #475569;
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}